body {
  font-family: 'Droid Sans', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  color: ivory;
}

h1, h2, h3 {
  font-family: 'Kreon', serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: ivory;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* li a:hover {
    background-color: #111;
} */

/* .active {
    background-color: #4CAF50;
} */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 40%;
    background-color: #333;
    color: ivory;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pages {
  background-color: ivory;
  overflow: scroll;
  height: calc(100% - 88px - 167px);
  margin-top: 88px;
  margin-bottom: 167px;
  color: black;
  padding: 20px;
}
